# Please read the corosync.conf.5 manual page
totem {
	version: 2

	# Corosync itself works without a cluster name, but DLM needs one.
	# The cluster name is also written into the VG metadata of newly
	# created shared LVM volume groups, if lvmlockd uses DLM locking.
	# It is also used for computing mcastaddr, unless overridden below.
	cluster_name: {{pacemaker_cluster_name}}

	# How long before declaring a token lost (ms)
	token: {{pacemaker_token_timeout}}

	# How many token retransmits before forming a new configuration
	token_retransmits_before_loss_const: {{pacemaker_token_retransmits_before_loss_const}}

	# Limit generated nodeids to 31-bits (positive signed integers)
	clear_node_high_bit: {{pacemaker_clear_node_high_bit}}

	# crypto_cipher and crypto_hash: Used for mutual node authentication.
	# If you choose to enable this, then do remember to create a shared
	# secret with "corosync-keygen".
	# enabling crypto_cipher, requires also enabling of crypto_hash.
	# crypto_cipher and crypto_hash should be used instead of deprecated
	# secauth parameter.

	# Valid values for crypto_cipher are none (no encryption), aes256, aes192,
	# aes128 and  3des. Enabling crypto_cipher, requires also enabling of
	# crypto_hash.
	crypto_cipher: {{pacemaker_crypto_cipher}}

	# Valid values for crypto_hash are  none  (no  authentication),  md5,  sha1,
	# sha256, sha384 and sha512.
	crypto_hash: {{pacemaker_crypto_hash}}

	transport: {{pacemaker_transport}}
}

logging {
	# Log the source file and line where messages are being
	# generated. When in doubt, leave off. Potentially useful for
	# debugging.
	fileline: off

	to_stderr: no
	# Log to a log file. When set to "no", the "logfile" option
	# must not be set.
	to_logfile: {{pacemaker_log_to_file}}
	logfile: {{pacemaker_logfile}}
	# Log to the system log daemon. When in doubt, set to yes.
	to_syslog: {{pacemaker_log_to_syslog}}
	# Log with syslog facility daemon.
	syslog_facility: daemon
	# Log debug messages (very verbose). When in doubt, leave off.
	debug: off
	# Log messages with time stamps. When in doubt, set to on
	# (unless you are only logging to syslog, where double
	# timestamps can be annoying).
	timestamp: {{pacemaker_log_timestamp}}
	logger_subsys {
		subsys: QUORUM
		debug: off
	}
}

quorum {
	# Enable and configure quorum subsystem (default: off)
	# see also corosync.conf.5 and votequorum.5
	provider: corosync_votequorum
	
}

nodelist {
{% for host in groups[pacemaker_ansible_group] %}
    node {
        ring0_addr: {{ host }}
        nodeid: {{ loop.index }}
    }

{% endfor %}
}

service {
    name: pacemaker
    ver: 1
}

